/*This id style is intended for my linktr.ee link at the bottom of my page. It sets it off the to the right and makes it smaller in order to make it less distracting.*/
#linktree {
    text-align: right;
    font-size: 0.75em;
    /*display: block is needed sine this will be applied to an <a> tag, which is inline by default, therefore it cannot be aligned to the right.*/
    display: block;
}

.blue-center {
    color: blue;
    text-align: center;
}