/*This id style is intended for my linktr.ee link at the bottom of my page. It sets it off the to the right and makes it smaller in order to make it less distracting.*/
#linktree {
    text-align: right;
    font-size: 0.75em;
    /*display: block is needed since this will be applied to an <a> tag, which is inline by default, therefore it cannot be aligned to the right.*/
    display: block;
}
/*Due to the way that <a> tags are designed, an additional container is required to make the link properly right aligned, without phantom links left behind.*/
.link-container {
    display: flex;
    justify-content: flex-end;
}

/*Class style for making selected elements blue & centered*/
.blue-center {
    color: #0147fa;
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightblue;
    color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/*Pushes the portal link (the one with each assignment on it) to the far right*/
.topnav a.portal {
    float: right;
}

/*Below I've also added some CSS styles that cover the entire body tag, but are responsive based on the max-width of the viewing device, therefore making the text bigger for larger devices, and smaller for smaller devices*/
body {
    font-size: 18px;
}

/*For very small computer screen's, tablets, and landscape phones*/
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

/*For portrait phones*/
@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
}

.favorite-game {
    color: blue;
}

/*Styles to make images more responsive (not used in the slideshow/lightbox)*/
.image-container {
    text-align: center;
    margin-top: 20px;
}

.responsive-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}